/*-----FONTE-----*/

@font-face {
    /*font-family: 'Conv_Goldoni_DEMO';*/
    font-family: 'Goldoni';
    src: url('Goldoni.ttf.woff') format('woff'),
    url('Goldoni.ttf.svg#Goldoni') format('svg'),
    url('Goldoni.ttf.eot'),
    url('Goldoni.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    margin-bottom: 10px;
}

.header_linjen1,
#soeg {
    display: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: 'Arapey', serif;
    /*font-family: 'Goldoni';*/
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
}

.velkommen_p {
    margin: 0 auto;
    width: 90vw;
    text-align: center;
}

#velkommen h1,
#velkommen h2 {
    padding: 0px 10px;
    margin: 10px 0px;
}

h2 {
    font-size: 26px;
}

#overskrift {
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 10px 10px;
}

#velkommen {
    text-align: center;
}

.retContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}


#ret {
    margin: 10px;
    border: 1px solid #f4f4f4;
}

#navn {
    padding: 0px 10px;
    text-align: center;
    margin: 10px 0px 5px 0px;
}

#img {
    box-shadow: 0px 0px 15px 0px rgba(179, 179, 179, 1);
    width: 100%;
}

#pris {
    padding: 0px 10px;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #ff7862;
    text-align: right;
}

#langbeskrivelse_mobil {
    padding: 0px 10px;
    margin: 0;
    text-align: center;
}

#kortbeskrivelse {
    display: none;
}

.popup {
    display: none;
}

.mobile_logo {
    padding-top: 10px;
    margin: 0 auto;
    width: 280px;
    display: block;
}

.disktop_logo {
    display: none;
}

#nyheder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#nyheder img {
    margin: 0;
    grid-column: 1/5;
    grid-row: 1;
}

#nyheder h2 {
    margin: 20px;
    grid-column: 1/5;
    grid-row: 2;
    margin: 5px;
    font-size: 24px;
}

#nyheder p {
    grid-column: 1/5;
    grid-row: 3;
    margin: 20px 3px;
}

#email {
    margin: 0px 20px;
    padding: 5px;
    border: solid 1px #D3D3D3;
    grid-column: 1/4;
    grid-row: 4;
    font-size: 16px;
    font-weight: 100;
}

#submit {
    width: 85%;
    padding: 5px;
    background-color: #ff7862;
    border: solid 1px #FFF;
    text-align: center;
    font-size: 16px;
    grid-column: 4/5;
    grid-row: 4;
}

#kontakt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#kontakt p {
    margin: 0 0 10px 0;
}

.kontakt_titel {
    font-size: 22px;
    font-family: 'Arapey', serif;
    text-transform: uppercase;
    /*font-family: 'Goldoni';*/
}

.kontakt_img {
    width: 5vw;
}


footer {
    margin: 20px;
}

main,
nav {
    margin: 0 auto;
    width: 95vw;
}

.single_title {
    font-size: 27px;
}

/*TOP MENU I HEADER*/

#menu_disktop {
    display: none;
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 25px;
    padding-top: 110px;
    background: rgba(255, 255, 255, 0.9);
    /*Kode neden for, hjælper til åben/luk*/
    border-bottom: 1px solid #000;
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 25px;
    font-size: 22px;
}

.responsive_menu a {
    text-decoration: none;
    color: #000;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/*DROPDOWN MENU - til menu kort*/

.mad_menu {
    display: none;
}

dropdown {
    width: 100%;
    display: inline-block;
}

dropdown label,
dropdown ul li {
    display: block;
    width: auto;
    margin: 20px;
    background: #ff7862;
    padding: 15px 20px;
}

dropdown label:hover,
dropdown ul li:hover {
    background: #f3b174;
    cursor: pointer;
}

dropdown label {
    color: #FFF;
    position: relative;
    z-index: 2;
}

dropdown input {
    display: none;
}

dropdown input ~ ul {
    position: relative;
    display: none;
    top: -20px;
}

dropdown input:checked + label {
    background: #f3b174;
}

dropdown input:checked ~ ul {
    display: block;
    opacity: 1;
    top: -10;
    padding: 5px 20px;
}

dropdown button:active {
    box-shadow: #FFF;
}

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
}

#filter_alle_mobil,
#filter_forretter_mobil,
#filter_hovedretter_mobil,
#filter_desserter_mobil,
#filter_sideorders_mobil,
#filter_drikkevarer_mobil {
    font-weight: 100;
    text-align: left;
    font-size: 16px;
    color: #FFF;
    width: 100%;
    margin-bottom: 1px;
    padding: 10px 20px;
    border: 0;
    background-color: #f3b174;
    border-bottom: solid 1px #fdecce;
    cursor: pointer;
    box-shadow: none;
}

#filter_alle_mobil:hover,
#filter_forretter_mobil:hover,
#filter_hovedretter_mobil:hover,
#filter_desserter_mobil:hover,
#filter_sideorders_mobil:hover,
#filter_drikkevarer_mobil:hover {
    background-color: #ff7862;
}

@media screen and (min-width: 550px) {
    .retContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #navn {
        text-align: left;
        font-size: 16px;
    }

    #langbeskrivelse_mobil {
        text-align: left;
    }

    .velkommen_img {
        display: none;
    }

    #velkommen {
        padding: 70px 0px;
        /* The image used */
        background-image: url(imgs/mad.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        */
        /* Set a specific height */
        height: 320px !important;


        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #velkommen h1 {
        letter-spacing: 1px;
        font-size: 60px;
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
    }

    .velkommen_p {
        width: 70vw;
    }

    .velkommen_kasse {
        margin: 0 auto;
        width: 80%;
        background: rgba(255, 255, 255, 0.7);
        padding: 40px 0px;
        box-shadow: 0px 0px 15px 0px rgba(56, 56, 56, 1);
    }

    .nyhed_img {
        display: none;
    }

    #nyheder {
        /* The image used */
        background-image: url(imgs/nyhedsbillede_big.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        */
        /* Set a specific height */
        height: 320px !important;


        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
        padding: 60px 20px
    }

    #nyheder h2 {
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
        font-size: 32px;
    }

    #nyheder p {
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 22px;
        margin: 5px;

    }
}

@media screen and (min-width: 700px) {

    .velkommen_p {
        width: 55vw;
    }

    .velkommen_kasse {
        width: 70%;
    }

    .nav_mobile,
    .mobile_logo {
        display: none;
    }

    .disktop_logo {
        width: 30%;
        margin: 0 40%;
        display: block;
        margin-bottom: 15px;
    }

    #navn {
        font-size: 21px;
    }

    .nav_disktop {
        text-align: center;
        width: 100%;
    }

    ul#menu_disktop {
        margin: 0 auto;
    }

    #menu_disktop,
    ul,
    li {
        font-family: 'Arapey', serif;
        text-transform: uppercase;
        /*font-family: 'Goldoni';*/
        display: inline;
        padding: 15px 10px;
        font-size: 20px;
    }

    #menu_disktop,
    a {
        color: black;
        text-decoration: none
    }

    #menu,
    a:hover {
        color: #ff7862;
        font-weight: 700;
    }
    #nyheder {
        padding: 60px 60px;
    }
    .header_linjen1 {
        display: block;
        float: left;
        padding: 20px;
    }

    .social_icon {
        width: 3vw;
    }

    #soeg {
        display: block;
        color: #FFF;
        font-family: 'Arapey', serif;
        text-transform: uppercase;
        /*font-family: 'Goldoni';*/
        position: absolute;
        background-color: #FF7862;
        padding: 8px 10px;
        top: 20px;
        left: 83%;
        border: 0;
        font-size: 12px;
    }

    #soeg:hover {
        background-color: #f3b174;
    }

    #kontakt {
        grid-template-columns: repeat(2, 1fr);
    }

    .adresse,
    aside {
        margin: 0px 10px;
        padding: 10px;
        border: solid 1px #f4f4f4;
    }
}

@media screen and (min-width: 760px) {
    dropdown {
        display: none;
    }
    .mad_menu {
        display: block;
        width: 90vw;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0px;
    }

    #filter_alle,
    #filter_forretter,
    #filter_hovedretter,
    #filter_desserter,
    #filter_sideorders,
    #filter_drikkevarer {
        font-weight: 700;
        font-size: 14px;
        width: 15%;
        padding: 10px 20px;
        margin: 5px 3px;
        border: 0;
        background-color: #FF7862;
        cursor: pointer;
        font-family: 'Arapey', serif;
        text-transform: uppercase;
        /*font-family: 'Goldoni';*/
    }

    #filter_alle:hover,
    #filter_forretter:hover,
    #filter_hovedretter:hover,
    #filter_desserter:hover,
    #filter_sideorders:hover,
    #filter_drikkevarer:hover {
        background-color: #f3b174;
    }
}

@media screen and (min-width: 800px) {

    .retContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #navn {
        font-size: 15px;
    }

    #pris {
        text-align: left;
    }

    #menu_disktop,
    ul,
    li {
        padding: 15px 30px;
    }

    #langbeskrivelse_mobil {
        display: none;
    }

    #kortbeskrivelse {
        padding: 0px 10px;
        margin: 0;
        display: block;
    }

    .text {
        background-color: #FFF;
        color: greenyellow;
        font-size: 16px;
        padding: 16px 32px;
    }
    .popup {
        z-index: 5;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        visibility: hidden;
    }

    .popup_content {
        width: 63vw;
        /*height: 83.5vh;*/
        height: auto;
        background-color: #FFF;
        color: #000;
        position: absolute;
        top: 40px;
        left: 17vw;
        padding: 1vw;
    }

    .popup_text {
        width: 50vw;
        position: absolute;
        top: 41vw;
        left: 6vw;
        background: rgba(255, 255, 255, 0.7);
        padding: 10px;
        text-align: center;
    }
    .single_img {
        max-width: 100%;
        box-shadow: 0px 0px 15px 0px rgba(179, 179, 179, 1);
    }

    .single_title {
        font-size: 26px;
        margin: 5px 0px 10px 0px;
    }

    .tilbage {
        width: 3.5vw;
        top: 3vw;
        left: 58vw;
        position: absolute;
        cursor: pointer;
    }

    #ret {
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    #ret img {
        z-index: 1;
        max-width: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    #ret img:hover {
        z-index: 1;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .velkommen_kasse {
        width: 60%;
    }

    .kontakt_img {
        width: 2vw;
    }

    #soeg {
        left: 87%;
    }
}

@media screen and (min-width: 900px) {
    .velkommen_kasse {
        width: 50%;
    }

    .velkommen_p {
        width: 45vw;
    }

    #navn {
        font-size: 17px;
    }
    #nyheder h2 {
        font-size: 40px;
    }
    #nyheder {
        padding: 60px 150px;
    }

    .popup_content {
        width: 55vw;
        top: 20px;
        left: 22vw;
        padding: 1vw;
    }

    .popup_text {
        width: 42vw;
        top: 34vw;
    }

    .tilbage {
        width: 3.5vw;
        top: 3vw;
        left: 50vw;
    }
}

@media screen and (min-width: 1000px) {

    .retContainer {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
    }

    #ret {
        margin: 15px;
    }

    .velkommen_p {
        width: 35vw;
    }
    #navn {
        font-size: 16px;
    }

    .disktop_logo {
        width: 20%;
    }

    #nyheder {
        padding: 60px 200px;
    }

    .popup_text {
        top: 40vw;
    }
    #soeg {
        left: 89%;
    }

    .social_icon {
        width: 2vw;
    }
}

@media screen and (min-width: 1080px) {

    .popup_content {
        width: 48vw;
        top: 20px;
        left: 24vw;
    }

    .popup_text {
        width: 40vw;
        top: 31vw;
        left: 4vw;
    }

    .tilbage {
        width: 3vw;
        top: 3vw;
        left: 44vw;
    }
}

@media screen and (min-width: 1150px) {
    .popup_content {
        width: 45vw;
        left: 26vw;
    }

    .popup_text {
        width: 40vw;
        top: 31vw;
        left: 2.5vw;
    }

    .tilbage {
        width: 3vw;
        top: 3vw;
        left: 41vw;
    }

}

@media screen and (min-width: 1200px) {
    #nyheder {
        padding: 60px 300px;
    }
}
